<nav class="">
  <div class="container mt-3">
    <div class="row mb-3">
      <div class="col-12">
        <a class="text-decoration-none" routerLink="/">Home</a> &nbsp;&nbsp; | &nbsp; &nbsp;
        <a class="text-decoration-none" routerLink="/about">About</a> &nbsp;&nbsp; | &nbsp; &nbsp;
        <a class="text-decoration-none" routerLink="/services">Services</a>&nbsp;&nbsp; | &nbsp; &nbsp;
        <a class="text-decoration-none" routerLink="/contact-us">ContactUs</a>
      </div>
    </div>
    <div class="row" style="min-height: 600px;">
      <div class="col-12">
        <router-outlet></router-outlet>
      </div>
    </div>
    <div class="row ">
      <div class="col-12 mt-5">
        Designed By: Roma Gupta
      </div>
    </div>
  </div>
</nav>